body {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    width: 100vw;
    size: 0.9375rem;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

.qrContainer {
    border-radius: 20px;
    background-color: white;
    width: 20rem;
    height: 31.0625rem;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}
img {
    margin: 1rem;
    height: 18rem;
    width: 18rem;
    border-radius: 10px;
}
article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0rem 1rem;
    text-align: center;
}
article h1 {
    size: 1.375rem;
    margin: 0px auto;
    font-weight: 700;
    line-height: 1.75rem;
    width: 18rem;
}
article p {
    margin: 0px;
    line-height: 1.1875rem;
    letter-spacing: 01.1875px;
    color: grey;
    font-weight: 400;
    width: 16rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}